#include <dma/axi-dmac.h>
/include/ "system-conf.dtsi"
/ {

};
	
	&amba {

		/delete-node/ spi@e0006000;

		spi0: spi@e0006000 {
			compatible = "xlnx,zynq-spi-r1p6";
			reg = <0xe0006000 0x1000>;
			status = "okay";
			interrupt-parent = <&intc>;
			interrupts = <0 26 4>;
			clocks = <&clkc 25>, <&clkc 34>;
			clock-names = "ref_clk", "pclk";
			#address-cells = <1>;
			#size-cells = <0>;

			adc_clk: ad9517@1 {
				compatible = "adi,ad9517-4";
				clocks = <0x7 0x7>;
				clock-names = "refclk", "clkin";
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				#clock-cells = <0x1>;
				reg = <0x1>;
				clock-output-names = "out0", "out1", "out2", "adc-clk", "out4", "out5", "out6", "out7";			
			};

			adc@0 {
            	compatible = "adi,ad9467";
            	reg = <0>;
            	clocks = <&adc_clk>;
            	clock-names = "adc-clk";
            	io-backends = <&iio_backend>;
        	};		
		};
	};


	&amba_pl {
		//Delete ADC Node
		/delete-node/ axi_ad9467@43c00000;
		/delete-node/ axi_dmac@43c10000;

		//Modification of DMAC node for analog driver
		axi_dmac_0: axi_dmac@43c10000 {
				compatible = "adi,axi-dmac-1.00.a";
				reg = <0x43c10000 0x10000>;
				clocks = <&clkc 16>;
				interrupt-names = "irq";
				interrupt-parent = <&intc>;
				interrupts = <0 29 4>;
				#dma-cells = <1>;

				adi,channels {
					#size-cells = <0>;
					#address-cells = <1>;

					dma-channel@0 {
						reg = <0>;
						adi,source-bus-width = <16>;
						adi,source-bus-type = <AXI_DMAC_TYPE_AXI_FIFO>;
						adi,destination-bus-width = <64>;
						adi,destination-bus-type = <AXI_DMAC_TYPE_AXI_MM>;
					};
				};
		};

	};

